{% extends 'base.html' %}

{% block center %}
    <h2>Formulário do Produto</h2>
       
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            {{ form.nome }}
        </div>
        
        <div class="mb-3">
            <label for="marca" class="form-label">Editora</label>
            {{ form.marca }}
        </div>

        <div class="mb-3">
            <label for="preco" class="form-label">Preço</label>
            {{ form.preco }}
        </div>
        
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            {{ form.cidade }}
        </div>

        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem</label>
            {{ form.imagem }}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>    
{% endblock %}